.lang{
    position: fixed;
    right: 2rem;
    top: 0;
    background: #e82323;
    color: #ffffff;
    padding: .1rem .8rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    z-index: 100;
    cursor: pointer;
}

nav{
    background: url(../img/img/BG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-xs{
    font-size: 12px;
}


.d-flex{
    display: flex!important;
}

.justify-between{
    justify-content: space-between!important;
}
.justify-center{
    justify-content:center!important;
}

.mt-auto{
    margin-top: auto;
}

.barra-nav{
    background: #e8c423;
    padding: .3rem 0;
    z-index: 1;
}

.barra-nav div a{
    text-decoration: none;
    color: white;
}

.barra-nav div a{
    background: #dfb913;
    border: 1px solid #e8c423;
    padding: .05rem .8rem;
    border-radius: 5px;
}

.banner{
    background: linear-gradient(180deg, #0000003f, #0000005a), url("../img/team-done.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: grid;
    place-content: center;
    color: white;
    background-attachment: fixed;
}

.banner div{
    background: #00000065;
    border-radius: 5px;
}

.video-banner {
    background: linear-gradient(135deg, #ff00008b, #ff000067, #e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2, #ff00008b,#e8c423c2,#e8c423c2,#e8c423c2,#e8c423c2, #e8c423ae, #ff000049, #ff00008b), url("../img/img/BG.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg 10s linear infinite;
}

.l-b{
    border-left: 4px solid #dc2b2b;
    padding-left: 1rem;
}

.left:hover, .right:hover{
    transform: scale(1.1);
    transition: .3s;
}



.row .col-4 img{
    width: 80%!important;
    border: 2px solid #e8c423;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    box-shadow: 3px 2px 8px rgba(255, 0, 0, 0.529);
}

.row .col-4 img:hover{
    box-shadow: 3px 2px 8px #ff0000df;
    transition: .3s;
    transform: translateY(-3px);
}

.barra-nav div a div{
    display: grid;
    place-content: center!important;
}

.faqss div{
    background: #555353c0;
    padding: .5rem;
}

.float-right{
    float: right;
}



.st{
    width: 1.5rem;
    display: grid;
    background: grey!important;
    place-content: center;
}


.text-start{
    text-align: start!important;
}
.flex-wr2{
    flex-direction: row-reverse!important;
}

@media (max-width: 700px) {
    .flex-wr{
        flex-wrap: wrap;
        flex-direction: row-reverse !important;
    }
}
@media (min-width: 800px) {
    
.row .col-4 img{
    width: 60%!important;
    border: 2px solid #e8c423;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    box-shadow: 3px 2px 8px rgba(255, 0, 0, 0.529);
}

.logo-false{
    display: none!important;
}

.barra-nav{
    margin-top: 0;
}

.video-banner video{
    width: 70%!important;
}
}

.logo-false{
    display: none;
}

.bb{
    width: 3rem;
    height: .3rem;
}

.form-control:focus-within{
    box-shadow: none!important;
}

.rob{
    display: grid;
    place-content: center;
}

.gall{
    display: flex;
    overflow-x: hidden;
}


.gallery {
    padding: 1rem 1rem ;
    border-radius: 10px;
}

.gallery .gall img{
    width: 20em!important;
    border: 1px solid #dfb913;
    margin: .2rem 1rem;
    border-radius: 12px;
}

.left, .right {
    position: absolute;
    top: 44%;
    background: white;
    border: 2px solid red;
    border-radius: 60px;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 2px 3px 9px grey;
    color: red;
    font-size: 20px;
    display: grid;
    place-content: center;
    transition: .3s;
}

.left{
    left: -.6rem;
}

.right{
    right: -1.5rem;
}

.bannerr{
    display: none;
}

.loader{
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: white;
 display: grid;
 place-content: center;
}


nav {
    height: 5.5rem;
}